<div class="step-component-container">
  <h1>Step 1: Choose your Model and color</h1>
  <div class="form" [formGroup]="carFormGroup" *ngIf="carModels$">
    <div class="form-input">
      <label for="model">Model</label>
      <select
        name="modelSelect"
        id="modelSelect"
        [formControl]="carFormGroup.controls.model"
        (change)="saveCarData()"
      >
        <option disabled [value]="'choose'" selected>Choose</option>
        <ng-container *ngFor="let item of carModels$ | async; index as i">
          <option [value]="item.code" selected>{{ item.description }}</option>
        </ng-container>
      </select>
    </div>
    <div
      *ngIf="carFormGroup.controls.model.value !== '' || !selectedCar().color"
      class="form-input"
    >
      <label for="color">Color</label>
      <select
        name="colorSelect"
        id="colorSelect"
        [formControl]="carFormGroup.controls.color"
        (change)="saveCarData()"
        [compareWith]="compareFn"
      >
        <option value="'choose'" selected disabled>Choose..</option>
        <ng-container *ngFor="let color of selectedModelColors">
          <option [ngValue]="color" selected>{{color.description}}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>
