<div class="step-component-container">
  <h1>Step 1: Choose your Model and color</h1>
  <form
    class="form"
    [formGroup]="carFormGroup"
    (ngSubmit)="saveCarData()"
    *ngIf="carModels$ | async"
  >
    <div class="form-input">
      <label for="model">Model</label>
      <select
        name="modelSelect"
        id="modelSelect"
        [formControl]="carFormGroup.controls.model"
        #myTemplateVar
        formControlName="model"
        (change)="saveCarData()"
      >
        <option disabled [value]="'choose'">Choose</option>
        <ng-container *ngFor="let item of carModels$ | async; index as i">
          <option [value]="item.code" selected>{{ item.description }}</option>
        </ng-container>
      </select>
    </div>
    <div
      *ngIf="carFormGroup.controls.model.value !== 'choose' || selectedCar().color !== ''"
      class="form-input"
    >
      <label for="color">Color</label>
      <select
        name="colorSelect"
        id="colorSelect"
        [formControl]="carFormGroup.controls.color"
        formControlName="color"
        (change)="saveCarData()"
      >
        <ng-container *ngFor="let item of selectedModelColors">
          <option [value]="item.code" selected>{{ item.description }}</option>
        </ng-container>
      </select>
    </div>
  </form>
</div>
